* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// @font-face {
//     font-family: 'asul regular';
//     src: url('../assets/fonts/QuartzoBold-W9lv.ttf') format('opentype');
//     font-weight: normal;
//     font-style: normal;

// }

